#ikoner{
    width:5%;
    position: absolute;
    background-color: white;
    border-radius: 75%;
}

.facebook{
    left:15%;
}
.instagram{
    left: 30%;
}
.twitter{
    left:60%;
}
.email{
    left:75%;
    border-radius: 50%;
}
